div{
  text-align: center;
}
input{
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 150px;
  height: 30px;
  font-size: 33px;
}
button{
  margin-top: 20px;
  text-align: center;
  width: 150px;
  height: 30px;
}

p{
  font-size: 20px;
}